/* ================================
   SIDEBAR
================================ */
.sidebar {
  width: 250px;
  background: linear-gradient(180deg, #1e3a8a, #1e40af);
  color: white;
  padding: 20px;
}

/* ================================
   LOGO
================================ */
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
}

.logo-box {
  width: 40px;
  height: 40px;
  background: #d1d5db;
  border-radius: 10px;
}

.logo h2 {
  font-size: 18px;
}

.logo p {
  font-size: 12px;
  opacity: 0.7;
}

.logo-img {
  width: 40px;
  height: 40px;
  object-fit: contain; /* mejor para logos */
  background: white;
  padding: 5px;
  border-radius: 10px;
}

/* ================================
   MENÚ
================================ */
.sidebar ul {
  list-style: none;
}

.sidebar li {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px;
  border-radius: 12px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: 0.2s;
}

.sidebar li i {
  width: 20px;
  height: 20px;
}

.sidebar li:hover {
  background: rgba(255,255,255,0.1);
}

.sidebar li.active {
  background: #e5e7eb;
  color: #1e3a8a;
  font-weight: bold;
}